## 폴더 무시
anaconda3/
py_workspace/.ipynb_checkpoints/
py_workspace/01_python/__pycache__/
py_workspace/*/.ipynb_checkpoints/
util/Python_Workshop/
util/데이타분석/
util/알고리즘/
util/AI/제공파일/

## 확장자 무시
*.exe

## 파일 무시
py_workspace/01_python/*_ws.ipynb
py_workspace/02_numpy/*_ws.ipynb
py_workspace/01_python/MyGame.ipynb
py_workspace/01_python/MyGame.py
py_workspace/01_python/MyGameTeacher.ipynb
py_workspace/01_python/MyGameTeacher.py
py_workspace/01_python/TestModule1.ipynb
util/AI/제공파일/06_ML_LinearMSE.ipynb