## 폴더 무시
anaconda3/
py_workspace/.ipynb_checkpoints/
py_workspace/01_python/__pycache__/
py_workspace/*/.ipynb_checkpoints/
util/Python_Workshop/
util/데이타분석/
util/알고리즘/
util/AI/제공파일/
data/
apache-tomcat-8.5.55/
eclipse/.eclipseproduct
eclipse/artifacts.xml
eclipse/eclipse.ini
eclipse/configuration
eclipse/encoreWorkspace
eclipse/features
eclipse/frontWorkspace
eclipse/javaWorkspace
eclipse/jdbcWorkspace
eclipse/p2
eclipse/plugins
eclipse/readme
eclipse/webWorkspace
util/spring-tool-suite-3.9.7.RELEASE-e4.10.0-win32-x86_64

eclipse/springWorkspace/.gitignore
eclipse/springWorkspace/Servers
eclipse/springWorkspace/sp01_Core1_DI/.classpath
eclipse/springWorkspace/sp01_Core1_DI/.project
eclipse/springWorkspace/sp01_Core1_DI/.springBeans
eclipse/springWorkspace/sp01_Core1_DI/.settings
eclipse/springWorkspace/sp01_Core1_DI/build
eclipse/springWorkspace/sp01_Core1_DI/WebContent/META-INF
eclipse/springWorkspace/sp02_Core2_Dice/.classpath
eclipse/springWorkspace/sp02_Core2_Dice/.project
eclipse/springWorkspace/sp02_Core2_Dice/.springBeans
eclipse/springWorkspace/sp02_Core2_Dice/.settings
eclipse/springWorkspace/sp02_Core2_Dice/build
eclipse/springWorkspace/sp02_Core2_Dice/WebContent/META-INF
util/spring-tool-suite-3.9.7.RELEASE-e4.10.0-win32-x86_64.zip
util/Spring/제공/spring-framework-3.0.2.RELEASE-dependencies.zip
util/Spring/제공/spring-framework-4.0.0.RELEASE-dist.zip
util/Spring/제공/SpringDI_Template
util/Spring/제공/spring-framework-3.0.2.RELEASE-dependencies
util/Spring/제공/spring-framework-4.0.0.RELEASE-dist

## 확장자 무시
*.exe

## 파일 무시
py_workspace/01_python/*_ws.ipynb
py_workspace/02_numpy/*_ws.ipynb
py_workspace/01_python/MyGame.ipynb
py_workspace/01_python/MyGame.py
py_workspace/01_python/MyGameTeacher.ipynb
py_workspace/01_python/MyGameTeacher.py
py_workspace/01_python/TestModule1.ipynb
util/AI/제공파일/06_ML_LinearMSE.ipynb